* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  color: antiquewhite;
  background-color: rgb(12, 0, 0);
  position: relative;
}
#cover {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.568);
  position: absolute;
  z-index: 20;
  display: none;
}
#my-library-title {
  text-align: center;
}
#my-library-title img {
  position: relative;
}
h1 {
  margin-top: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.747);
  /* color: rgba(0, 0, 0, 0.74); */
  font-family: "Dancing Script", cursive;
  /* font-family: "Delius Swash Caps", cursive; */
  font-size: 50px;
  filter: drop-shadow(1rem 1rem 0.1rem rgba(24, 23, 21, 0.37));
  position: absolute;
  white-space: nowrap;
  width: 30%;
  z-index: 9;
  top: 5rem;
  left: 35%;
}
.add-book-info {
  text-align: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.add-book-info img {
  width: 150px;
}
.add-book-info p {
  width: 100px;
  font-size: 25px;
  color: antiquewhite;
  font-family: "Great Vibes", cursive;
}
#books {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 3rem;
  margin-top: 2rem;
  margin-left: 5rem;
}
.card {
  background-image: url(../images/book.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  word-wrap: break-word;
  background-position: center;
  width: 400px;
  min-height: 500px;
  color: rgb(202, 195, 132);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem rgb(202, 195, 132));
  position: relative;
}
.invisibleBook {
  visibility: hidden;
}
#cardContent {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-align: center;
}
.title-style {
  font-size: 24px;
  margin-top: 4rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  font-family: "Delius Swash Caps", cursive;
}
.description {
  position: absolute;
  width: 60%;
  left: 5.4rem;
  bottom: 12rem;
  z-index: 2;
  margin: 0;
}
.author-content,
.pages-content {
  display: flex;
  word-wrap: break-word;
  gap: 0.4rem;
  margin: 0;
  font-family: "Dancing Script", cursive;
  /* font-family: "Great Vibes", cursive; */
  font-size: 26px;
}
.author-content p,
.pages-content p {
  margin: 0;
}

.settings {
  position: absolute;
  width: 70%;
  bottom: 4.5rem;
  z-index: 1;
}
.edit-button,
.update-button,
.delete-button {
  padding-top: 0.8rem;
  font-size: 18px;
  line-height: 1.8rem;
  font-family: "Great Vibes", cursive;
  font-family: "Homemade Apple", cursive;
  color: rgba(202, 195, 132, 0.466);
}

#signiture {
  margin-top: 2rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 27px;
  color: antiquewhite;
  font-family: "Great Vibes", cursive;
}

.inputs {
  width: auto;
  height: auto;
  /* opacity: 0.4; */
  background-image: url(../images/burned\ paper.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 11rem;
  left: 34%;
  z-index: 22;
}
.input-content {
  padding: 8rem 16rem 10rem 10rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}
.input-content p {
  color: #000;
  font-family: "Great Vibes", cursive;
  font-family: "Homemade Apple", cursive;
}
#input-title,
#input-author,
#input-pages {
  font-size: 30px;
  outline: none;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: transparent;
  font-family: "Abel", sans-serif;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}
.wax {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}
.wax p {
  width: 50px;
  word-wrap: break-word;
  font-size: 20px;
  color: rgb(48, 42, 35);
  font-family: "Great Vibes", cursive;
  filter: drop-shadow(1rem 0.7rem 0.1rem black);
}
.add-book-button {
  height: 100px;
}
.display-none {
  height: 100px;
  position: absolute;
  z-index: 7;
  right: 0;
}
.display-none:hover {
  filter: blur(3px);
}
.smoke {
  opacity: 1;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 500px;
  height: 600px;
}

.burningBooksss {
  animation: burningBook 4s;
}

@keyframes burningBook {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

.appearingBooksss {
  animation: appearingBook 3s;
}

@keyframes appearingBook {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.testing {
  animation: testingbook 1s forwards;
}
.othertesting {
  animation: testingbook 2s forwards reverse;
}

@keyframes testingbook {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0) rotate(400deg);
  }
}
}